
 body {
    color: #414141;
    font-style: NotoSans-Light;
}
.main{
    
    padding-left: 0px !important;
}

.form-label{
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
}
.img-heading{
    text-align: left;
}
.img-discription{
    text-align:left
}
/* h3{
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
} */
.login-btn{
    width: 100%;
    height: 48px;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 24px;
}
.login-btn:hover {
    background-color: #F88634;
    color: white;
}
.lostpass,.privacy{
    text-align: center;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
    text-decoration: none;
    color: #414141;
}
.privacy-policy{
    /* padding-top: 100px; */
    /* margin-top: 100px; */
}
@media screen and (max-width:991px) {
    .loginpage {
        padding-top: 100px;
        /* padding-left: 20px; */
        margin-left: 20px;
        /* margin-top: 1000px; */
    }
}
@media screen and (max-width:800px) {
    .img-heading {
        font-size:30px;
        /* width: 70%; */
    }
    .img-discription{
        font-size: 11px;
    }
}
@media screen and (min-width:800px) {
    .img-heading {
        font-size:30px;
        width: 70%;
    }
    .img-discription{
        font-size: 11px;
    }
}
@media screen and (max-width:500px) {
    .img-heading {
        font-size:15px;
        width: 70%;
    }
    .img-discription{
        font-size: 8px;
    }
    
}
@media screen and (max-width:370px) {
    .img-heading {
        font-size:15px;
        width: 70%;
    }
    .img-discription{
       display: none;
    }
    
}