body {
}
.userProfile {
    max-width: 50px;
    max-hight: 50px;
    border-radius: 50%;
   
}
.dropdown{
    background-color:white;
    border:none
}

.header .dropdown-menu {
    box-shadow: 0px 0px 14px 0px #00000012;
    padding: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #3E3E3E;
    font-weight: 400;
    min-width: 140px;
    border:none
}

    .header .dropdown-menu .dropdown-item {
        padding: 10px;
        color: #3E3E3E;
    }
.